body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar-brand {
    color: white;
    font-size: 2rem;
    font-family: "Ubuntu";
    font-weight: bold;
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900; 
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    padding-bottom: 7%;
}

h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
    font-weight: bold;
}

p {
    color: gray;
}

.iphone {
    transform: rotate(15deg);
    width: 60%;
    left: 20%;
    position: relative;

}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .iphone {
        transform: rotate(0);
        position: relative;
        left: 0%;
    }
}

.download-button {
    margin-bottom: 10%;
    margin-right: 3%;
} 

/* Features */

#features {
    padding: 7% 15%;
    background-color: white;
    width: 100%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonial section  */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonical-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

#pricing {
    padding: 100px;
    text-align: center;
  }
  
  .price-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .pricing-column {
    padding: 3% 2%;
  }

  .social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding-top: 7%;
}

.big-heading {
    padding-bottom: 20px;
}

.social-icon {
    margin: 20px 10px;
  }
  
  @media (max-width: 1028px) {
  
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }

  #footer {
      text-align: center;
      margin: 3% auto 20% auto;
  }



